.c-f-container {
    border: 2px dashed red;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d4d4d4;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    padding: 20px;
    display: flex;
    flex-direction: column;
}